<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.uidemo">
    <!--震动  SlideUnlockViewControl-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/CustomActivityDialogStyle"
            android:name=".activitydialog.ActivityDialog"
            android:label="@string/title_activity_activity_dialog" >
        </activity>
        <activity
            android:name=".activitydialog.DialogControl">
        </activity>

        <!--slideunlockview-->
        <activity
            android:name=".slideunlockview.SlideUnlockViewControl">
        </activity>

        <activity
            android:name=".listviewfrash.ReFlashListViewMainActivity">
        </activity>
        <activity
            android:name=".beziercurve.Beziercurve">
        </activity>
    </application>

</manifest>